html,
body {
    background-color: #f5f5f5;
}

.pointer {
    cursor: pointer;
}

.bottom-footer {
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: white;
}

.footer-widgets-container {
    padding: 30px 30px;
    background-color: white;
    /* border-bottom: 1px solid rgb(0, 0, 0, 0.1); */
    border-top: 1px solid rgb(0, 0, 0, 0.1);
}