.react-tabs__tab-list {
    margin: 0 0 10px;
    padding: 0;
  }

  .react-tabs__tab {
    display: inline-block;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 900;
    }
  .react-tabs__tab--selected {
    background: #fff;
    color: #379cee;
    border-radius: 5px;
  }
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  .react-tabs__tab-panel {
    display: none;
  }
  .react-tabs__tab-panel--selected {
    display: block;
  }