<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lesspod</title>
	<link rel="stylesheet" href="icons/css/font-awesome.min.css">
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script> -->
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

	<!-- Include stylesheet -->
	<link href="quill/quill.snow.css" rel="stylesheet">
	<!-- Include the Quill library -->
	<script src="quill/quill.js"></script>
</head>
<body>
  <!-- <script src="/js/index.js"></script> -->