
.main {
  /* Reference an image file */
  /*background: url('../images/background.png');*/
  color: red;
}

.ql-toolbar.ql-snow {
	background: white;
}

#editor {
	background: white;
}
.navbar-brand{
	height: 100%;
}
.navbar-brand.navbar-item {
	padding: 0;
}