<%- include('partials/header') %>

<%- include('partials/navbar') %>

<section class="section">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="column is-two-thirds">
				You're logged in. <a href="/logout" onclick="logout(event)">Logout</a>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	window.onload = function() {
		if(Cookies.get("token").length) {

			console.log(Cookies.get("token"));

		} else {

			window.location.href = '../login';
		}
	};
	function logout(event) {

		Cookies.set('token', '');
		Cookies.set('user', '');
		event.preventDefault();
		window.location.href = '../';

	}
</script>
</body>
</html>