<%- include('partials/header') %>

<%- include('partials/navbar') %>

<link rel="stylesheet" href="/css/main.css">
<!--<section class="section">-->
	<!--<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="column is-two-thirds">
				This is a landing page
				<a href="/login">Login</a> Or <a href="/register">Create Account</a>
			</div>
		</div>
	</div> -->
	<div class="bgimg">
  <div class="topleft">
    <p>Logo</p>
  </div>
  <div class="middle">
    <h1>COMING SOON</h1>
    <hr>
    <p>35 days left</p>
  </div>
  <div class="bottomleft">
    <p>Some text</p>
  </div>
<!--</div>-->
<!--</section>-->

</body>
</html>
