<%- include('partials/header') %>

<%- include('partials/navbar') %>

<section class="section">
	<div class="container">
		<div class="columns is-centered is-multiline">
			<div class="column is-two-thirds">
				<div class="field is-horizontal">
					<div class="field-body">
						<div class="field">
							<p class="control">
								<input class="input" id="title" type="text" placeholder="Post Title">
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-two-thirds">

				<!-- Create the editor container -->
				<div id="editor">
					<p>Hello World!</p>
					<p>Some initial <strong>bold</strong> text</p>
					<p><br></p>
				</div>

				<!-- Initialize Quill editor -->
				<script>
					var quill = new Quill('#editor', {
						theme: 'snow'
					});
				</script><br>
				<a href="#" class="button is-primary" onclick="savePost(event);">
					Save Post
				</a><br><br><br>
				<input class="input" id="tag" type="text" placeholder="Add Tag"><br><br>
				<a href="#" class="button is-primary" onclick="addTag(event);">
					Add Tag
				</a><br><br>
				<input type="hidden" name="postId" id="postId" value="" />
			</div>
			
		</div>
	</div>
</div>
</section>
<script type="text/javascript">
	var editor;
	function savePost(event) {
		console.log('saving a post...');
		var title = document.getElementById("title").value;
		var content = editor.getText();
		console.log('title is ' + title.toString() + ' content is ' + content.toString());
		if(title.length && content.length) {
			axios.defaults.headers.common['Authorization'] = Cookies.get("token");
			axios.post('/v1/posts', {
				"title" : title.toString(),
				"content" : content.toString()
			})
			.then(function (response) {
				console.log(response);
				console.log('Post Id is ' + response.data.post.id.toString());
				document.getElementById('postId').value = response.data.post.id.toString();
			})
			.catch(function (error) {
				console.log(error);
			});
		}
		event.preventDefault();
	}
	function addTag(event) {
		console.log('adding a tag...');
		

		event.preventDefault();

	}
	window.onload = function() {
		var container = document.getElementById('editor');
		editor = new Quill(container);
	}
</script>
</body>
</html>