<%- include('partials/header') %>
	<section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-tablet is-4-desktop is-4-widescreen">
            <form class="box">
              <div class="field has-text-centered">
                <img src="../images/logo-bis.png" width="167">
              </div>
              <div class="field">
                <label class="label">Full Name</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="e.g. Alex Johnson" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-user-circle"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="e.g. alexjohnson@gmail.com" autocomplete="username" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="********" autocomplete="new-password" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Retype Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="********" autocomplete="new-password" required>
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
              <div class="field is-grouped" style="margin-top: 1.5rem;">
                <div class="control">
                  <button class="button is-info">Create Account</button>
                </div>
                <div class="control">
                  <a class="button is-text" style="text-decoration: none;" href="#">Login</a>
                </div>
              </div>
                <!-- <div class="field">
                  <button class="button is-success">
                    Login
                  </button>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  </html>